<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="col-lg-10 mt-5">
        <div class="accordion-item">
          <h5 class="accordion-header" id="headingOne">
            <button
              class="accordion-mybutton"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              marka
            </button>
          </h5>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <% brands.forEach((brand)=> { %>
              <div class="form-check">
                <input
                  class="form-check-input brand"
                  type="checkbox"
                  value="<%=brand._id%>"
                  id="<%=brand._id%>"
                />
                <label class="form-check-label" for="<%=brand._id%>">
                  <%=brand.name%>
                </label>
              </div>
              <% }) %>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h5 class="accordion-header" id="headingOne">
            <button
              class="accordion-mybutton"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              fiyat
            </button>
          </h5>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="input-group input-group-sm mb-3">
                <input
                  type="hidden"
                  id="categoryName"
                  category-name="<%= categoryName %>"
                />
                <span class="input-group-text min-max" id="inputGroup-sizing-sm"
                  >min</span
                >
                <input
                  type="text"
                  class="form-control filter-counts"
                  id="minPrice"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm "
                />

                <span class="input-group-text min-max" id="inputGroup-sizing-sm"
                  >max</span
                >
                <input
                  type="text"
                  class="form-control filter-counts"
                  id="maxPrice"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm"
                />
                <button class="btn btn-primary filter-counts">Ara</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 position-relative">
      <div class="row" id="products">
        <% products.forEach((product)=> { %>
        <a class="col-4 card-cover" href="/product/<%= product.queryName %>">
          <div class="col-12 product-col">
            <div class="card product-card adminincard">
              <img
                src="/images/product/<%= categoryName %>/<%= product.images[0].url%>"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <div class="card-title product-name"><%= product.name %></div>
                <p class="card-text"><%= product.features %></p>
                <div
                  class="card-title product-price shopping-basket filtersearch"
                >
                  <%= product.price+" TL" %>
                </div>
              </div>
              <div
                class="card-header admincardheader bg-neonBlue product-select"
              >
                <h6>seçiniz</h6>
              </div>
            </div>
          </div>
        </a>
        <% }) %>
      </div>
      <div id="loading">
        <svg
          width="38"
          height="38"
          viewBox="0 0 38 38"
          xmlns="http://www.w3.org/2000/svg"
        >
          <defs>
            <linearGradient
              x1="8.042%"
              y1="0%"
              x2="65.682%"
              y2="23.865%"
              id="a"
            >
              <stop stop-color="#fff" stop-opacity="0" offset="0%" />
              <stop stop-color="#fff" stop-opacity=".631" offset="63.146%" />
              <stop stop-color="#fff" offset="100%" />
            </linearGradient>
          </defs>
          <g fill="none" fill-rule="evenodd">
            <g transform="translate(1 1)">
              <path
                d="M36 18c0-9.94-8.06-18-18-18"
                id="Oval-2"
                stroke="url(#a)"
                stroke-width="2"
              >
                <animateTransform
                  attributeName="transform"
                  type="rotate"
                  from="0 18 18"
                  to="360 18 18"
                  dur="0.9s"
                  repeatCount="indefinite"
                />
              </path>
              <circle fill="#fff" cx="36" cy="18" r="1">
                <animateTransform
                  attributeName="transform"
                  type="rotate"
                  from="0 18 18"
                  to="360 18 18"
                  dur="0.9s"
                  repeatCount="indefinite"
                />
              </circle>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </div>
</div>
