<main>
  <!--
  <div class="container">
    <% tickets.forEach((ticket)=> {%>

    <div class="card-light bg-white text-black m-5">
      <div class="card-body">
        <h5 class="card-title"><%= ticket.name %></h5>
        <h5 class="card-title">
          <%= ticket.createdAt.getDate() %> .<%= ticket.createdAt.getMonth() %>.
          <%= ticket.createdAt.getFullYear() %>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= ticket.email %></h6>
        <p class="card-text"><%= ticket.content %></p>
      </div>
    </div>

    <%}) %>
  </div>
  -->
  <% tickets.forEach((ticket)=> {%>
  <div class="col-lg-8 list-card-item mx-auto p-3">
    <div class="card-section">
      <div class="card-box p-3">
        <div class="card-text">
          <div class="heading"><%= ticket.name %></div>
          <div class="para">
            <%= ticket.createdAt.getDate() %> .<%= ticket.createdAt.getMonth()
            %>. <%= ticket.createdAt.getFullYear() %>
          </div>
        </div>
        <div class="card-info">
          <div class="info-para"><%= ticket.content %></div>
          <button class="card-btn"><%= ticket.email %></button>
        </div>
      </div>
    </div>
  </div>
  <%}) %>
</main>
